.ccsticky-nav {
    width: 100%;
    top: 0;
    background: #ffffff;
    box-shadow: 0 3px 10px -4px rgb(51 62 73 / 18%), 0 6px 17px 2px rgb(51 62 73 / 8%);
    font-size: 50px;
    text-align: center;
    padding-bottom: 15px;
}

.ccsticky-nav .company {
    padding: 20px 20px 0px 20px;
    margin: 0 auto;
    text-align: center;
}

.job-attribute {
    text-align: center;

}
.job-title {
    font-size: 22px;
    color: #333e49;
    font-weight: 600;
    margin: 10px auto 12px;
    max-width: 600px;
}

.job-modality, .job-location {
    margin-bottom: 10px;
    font-size: 18px;
}


.main {
    width: 100%;
    background: #fff;
    padding-bottom: 60px;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #636d77;
}

h1, h2, h3, h4, .company {
    color: #333e49;
}

.openings {
    background-color: #f9f9f9;
}

.job-vacancies, .introduction {
    width: 100%;
    max-width: 880px;
    margin: 8px auto 0;
    padding: 0 24px;
    box-sizing: border-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
}

.list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    flex-direction: column;
}

.list li {
    padding: 10px;
    margin: 10px;
    box-shadow: 0 3px 10px -4px rgb(51 62 73 / 18%), 0 6px 17px 2px rgb(51 62 73 / 8%);

    transition: transform 0.2s ease-in-out;
    will-change: transform;
}

.items li {
    border: 1px solid black;
    margin: 0.5em;
    padding: 0.5em;

}

.date {
    display: block;
    margin-bottom: 4px;
    color: rgb(99, 109, 119);
    font-size: 13px;
    line-height: normal;
}
.title {
    margin: 0px;
    padding: 0px;
    color: #00b799;
}

.modality {
    font: 700 11px / 23px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
    border-radius: 16px;
    color: rgb(99, 109, 119);
    padding: 0px 8px;
    display: inline-flex;
    text-transform: uppercase;
    margin: 0px;
}

.location {
    color: rgb(99, 109, 119);
    margin: 0px;
    padding: 0px;
    content: "·";
    margin-right: 4px;
}

.working_time {
    color: rgb(99, 109, 119);
    margin-left: 4px;
    margin: 0px;
    padding: 0px;
    content: "·";
    margin-right: 4px;
}

.job-block {
    text-decoration: none;
}

.buttonApply {
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    color: white;
    background-color: #00b799;
    text-decoration: none;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    border-color: #00b799;
    border-radius: 10px;
    border-bottom: none;
    box-shadow: none;
    border-width: 0;
}
