body {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + .content {
    padding-top: 102px;
}

.claim h1 {
    color: #151b26;
    font-size: calc(42px + 14 * ((100vw - 480px) / 800));
    line-height: 1.285;
}

h3 {
    font-size: calc(33.75px + 11.25 * ((100vw - 480px) / 800));
    line-height: 1.244;
    color: #151b26;
    font-weight: 400;
    margin-top: 0;
}

p {
    font-size: 1.375rem;
    color: #646f79;;
}

@media (max-width: 400px) {
    /* CSS that should be displayed if width is equal to or less than 800px goes here */
    .content .claim {
        margin-top: 30px;
        padding-top: 50px;
        margin-bottom: 30px;
    }

    .claim .button {
        font-size: 24px;
    }
}

.claim {
    margin-top: 138px;
    margin-bottom: 32px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 240px;
    padding-bottom: 192px;
    background-image: linear-gradient(0deg,#f6f8f9 3%,#fff);
}

.register {
    width: auto;
    font-size: 16px;
    height: 50px;
    padding: 0 24px;
    line-height: 50px;
    border-radius: 5px;
    background-color: #00b799;
    color: white;
    border: none;
}

.button {
    appearance: auto;
    writing-mode: horizontal-tb !important;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    box-sizing: border-box;
    margin: 0em;
    text-decoration: none;
}

.hint {
    padding-top: 120px;
    padding-bottom: 192px;
    text-align: center;
}

.siteFooter {
    position: relative;
    background-color: #151b26;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    display: block;
    height: 250px;
}

.header {
    padding: 10px 16px;
    background: #fff;
}

.header h2 a {
    text-decoration: none;
    color: inherit;
}

.footerRow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.titleFooter h4 {
    margin-bottom: 48px!important;
    color: white;
    padding-left: 34px;
    padding-top: 20px;
    font-size: 18px;
}

.titleFooter ul li {
    color: white;
    padding-bottom: 10px;
}

li {
    list-style-type: none;
}

.titleFooter li a {
    color: white;
}

.siteFooter li a {
    text-decoration: none;
}

.column{
    width:100%;
}

@media (min-width: 48em) {
    .columns {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        width: 100%;
    }
}

.column h5 {
    font-size: 2rem;
    font-weight: bolder;
}

